/******************************************
/* CSS
/*******************************************/

@import url("https://fonts.googleapis.com/css?family=Lato:300,900");

html{
  font-size: 62.5%;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body, main, #choices{
  display: flex;
}


body{
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: rgb(224, 233, 242);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left top, #582841, #742c4b, #923051, #af3353, #cc3951, #d9404e, #e64849, #f15144, #f25941, #f3603e, #f3683b, #f36f38);
}

main{
  flex-direction: column;
  flex-wrap: wrap;
  width: 60vw;
  background: rgba(88, 40, 65, .5);
  padding: 3rem;
  border-radius: 2rem;
}

#headingRow{
  height: 10vh;
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#excuseRow{
  height: 15vh;
}

button{
  padding: 1rem;
  border: none;
  background: rgba(243, 110, 56, .7);
  color: rgb(224, 233, 242);
  border-radius: 1rem;
  margin-top: 2rem;
  width: 20vw;
  font-weight: 900;
  text-transform: uppercase;
}

button:hover{
  opacity: .8;
}

label{
  font-size: 1.5rem;
}

h2{
  font-size: 2.3rem;
  margin-top: 1rem;
}

#catLabel{
  padding-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 900;
}

select{
  appearance: none;
  background: rgb(224, 233, 242);
  border: none;
  padding: .5rem;
  margin: 0;
  width: 100%;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
}



#choices{
  flex-direction: column;
  width: 10vw;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
